<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VidyoPortalUserServiceBinding"/>
        <binding name="VidyoPortalAdminServiceBinding"/>
        <binding name="VidyoPortalGuestServiceBinding"/>
        <binding name="VidyoReplayContentManagementServiceBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://inin.sandboxga.vidyo.com/services/v1_1/VidyoPortalUserService/"
                binding="basicHttpBinding"
                bindingConfiguration="VidyoPortalUserServiceBinding"
                contract="VidyoPortalUserService.VidyoPortalUserServicePortType"
                name="VidyoPortalUserServicePort"/>
      <endpoint address="http://inin.sandboxga.vidyo.com/services/v1_1/VidyoPortalAdminService/"
                binding="basicHttpBinding"
                bindingConfiguration="VidyoPortalAdminServiceBinding"
                contract="VidyoPortalAdminService.VidyoPortalAdminServicePortType"
                name="VidyoPortalAdminServicePort"/>
      <endpoint address="http://inin.sandboxga.vidyo.com/services/VidyoPortalGuestService/"
                binding="basicHttpBinding"
                bindingConfiguration="VidyoPortalGuestServiceBinding"
                contract="VidyoPortalGuestService.VidyoPortalGuestServicePortType"
                name="VidyoPortalGuestServicePort"/>
      <endpoint address="http://inin.sandboxgareplay.vidyo.com/replay/services/VidyoReplayContentManagementService/"
                binding="basicHttpBinding" 
                bindingConfiguration="VidyoReplayContentManagementServiceBinding"
                contract="VidyoPortalReplayService.VidyoReplayContentManagementServicePortType"
                name="VidyoReplayContentManagementServicePort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--IC Server Connection Parameters -->
    <add key="CicServer" value="test-windows"/>
    <add key="CicUseWindowsAuth" value="false"/>
    <add key="CicUsername" value="vagrant"/>
    <add key="CicPassword" value="1234"/>
    <add key="CicServiceEndpointUri" value="http://inferno:8000"/>

    <!-- Vidyo Configuration Parameters -->
    <add key="VidyoWebBaseUrl" value="http://inin.sandboxga.vidyo.com/web"/>
    <add key="VidyoRoomGroup" value="VidyoIntegrationGroup"/>
    <add key="VidyoRoomOwner" value="admin"/>
    <add key="VidyoAdminUsername" value="admin"/>
    <add key="VidyoAdminPassword" value="&amp;TQdh1@mVuXFop0A7H"/>
    <add key="VidyoServiceEndpointUri" value="http://inferno:8000"/>
    <add key="VidyoExtensionPrefix" value="789"/>
  </appSettings>
</configuration>
